.card {
  color: inherit;
  cursor: pointer;
  min-width: 275px;
  height: 425px;
  min-height: 400px;
  perspective: 1000px;
  margin: 1rem auto;
  position: relative;
  margin: 1rem 1rem;
}

.front,
.back {
  display: flex;
  border-radius: 12px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
  border: 3px solid #CEE6F3;
}

.front {
  background: url(https://media4.giphy.com/media/l41lRi0VWdnH90yJy/giphy.gif?cid=ecf05e470wj1ci0xekaojip8jpe5jyf6z991tfgsq01g2ywu&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  background-size: cover;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  overflow: hidden;
}



.front:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(145deg, #0a0428, #94a7d3, #0a0428);
  opacity: 0.25;
  z-index: -1;
}

.card:hover .front {
  transform: rotateY(180deg);
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(145deg, #5e6168, rgba(171,208,208,.5), #5e6168);
  transform: rotateY(-180deg);
  padding: 0 2em;
}

.back>div {
  margin: 10px;
}

.social {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.social>img {
  width: 30px;
  opacity: 0.8;
}

.social>img:hover {
  opacity: 1;
  color: orange;
  transform: translateY(-10px);
  width: 40px;

  .social {
    margin: 0;
    padding: 0;
  }
}

.blurb {
  font-family: 'M PLUS Rounded 1c', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: .8rem;
}

.desc {
  text-align: justify;
}

.card:hover .back {
  transform: rotateY(0deg);
}

.button {
  text-decoration: none;
  opacity: 0.6;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 100px;
  background: linear-gradient(145deg, #1a9be6, #1a57e6);

  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
}

.button.detailsButton {
  background: linear-gradient(145deg, #68d082, #037020);

}

.button.deleteButton {
  background: linear-gradient(145deg, #c57a8a, #e61a1a);
}

.button:hover {
  opacity: 1;
}

.name {
  background-color: rgba(0, 0, 0, .5);
  border: 2px solid #CEE6F3;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
}