.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85vw;
  max-width: 1400px;
}

.section-container {
  height: 1100px;
  width: 100%;
  border: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.club-card-container {
  height: 90%;
  width: 90%;
  border: 3px solid white;
  border-radius: 10px;
}

.about-us-container {
  display: flex;
  height: 90%;
  width: 90%;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.about-us-subcontainer {
  margin: 20px;
  border: 1px solid white;
  height: 50%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
}