.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  max-width: 1400px;
  margin-top: 100px;
}

.section-container {
  height: 100vh;
  width: 100%;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  z-index: 0;
}

.club-card-container {
  height: 90%;
  width: 90%;
  border: 3px solid #CEE6F3;
  border-radius: 10px;
}

.about-us-container {
  display: flex;
  height: 90%;
  width: 90%;
  align-items: center;
  justify-content: center;
  border: 1px solid #CEE6F3;
}

.about-us-subcontainer {
  margin: 20px;
  border: 1px solid #CEE6F3;
  height: 50%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wooden-board {
  height: 120px;
  width: 40%;
  background-color: #563232;
  border: 5px solid #CEE6F3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 20px;
}

#home-background {
  height: 100vh;
  width: 100%;
  background-image: url(/assets/coffeeCups.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  border-bottom: 5px solid #CEE6F3;
}

#reccomendation-background {
  background-image: url(/assets/espresso.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 100vh;
  border-bottom: 5px solid #CEE6F3;
}

#img-cover1 {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
  background-color: black;
  top: 0;
  opacity: .3;
}

#home, #reccomendations, #about-us {
  z-index: 2;
  font-family: 'breve';
}

.slogan {
  font-size: 3.5rem;
  color: #CEE6F3;
  background-color: black;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #CEE6F3;
  margin: 0 0 20px 0;
}

#slogan-container {
  position: absolute;
  bottom: 20vh;
}

#img-cover2 {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
  background-color: black;
  top: 100vh;
  opacity: .4;
}

#title-container {
  position: absolute;
  top: 40vh;
  background: black;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #CEE6F3;
  color: #CEE6F3;
  font-size: 6rem;
}

#about-background {
  background-image: url(/assets/coffeeBeans.jpg);
  height: 110vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 200vh;
}

#img-cover3 {
  height: 110vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #262A56;
  top: 200vh;
  opacity: .5;
}