.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  padding-bottom: 50px;
  margin-top: 120px;
  width: 50%;
  background-color: rgba(245, 245, 245, .3);
  backdrop-filter: blur(18px);
  color: black;
  border-radius: 20px;
  font-family: 'breve';
}

.form-container h1, .form-container p {
  color: #CEE6F3;
  background-color: rgb(0, 0, 0, .6);
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #CEE6F3;
  margin: 0 0 20px 0;
}
.form-container h1 {
  font-size: 3rem;
}

.form-container p {
  font-size: 2rem;
  padding: 5px;
}

.search-clubs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 7px;
  width: 500px;
  height: 90px;
  margin-top: 20px;
  background-color: rgb(0, 0, 0, .6);
}

.search-clubs > input {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: none;
}
.search-clubs > button {
  height: 30px;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255, .4);
  border-radius: 50%;
  border: none;
}