.new-shop-form-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #c8c8c8;
  width: 100%;
}

.new-shop-image-holder {
  width: 50%;
  min-height: 95%;
  /* border: 2px solid black; */
  background-color: darkslategray;
  margin-left: 15px;

  transform: perspective(1500px) rotateY(15deg);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: transform 1s ease 0s;

  &:hover {
    transform: perspective(3000px) rotateY(5deg);
  }
}

.shop-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  pad: 20px;
  width: 50%;
  border: 2px solid black;
  height: 500px;
  color: black;
}

.shop-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  gap: 5px;
}