.club-card {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  border-bottom: 2px solid rgba(0, 0, 0, .15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.club-card div {
  padding: 10px;
  height: 100%;
  text-align: center;
}

.club-card a {
  color: lightblue;
  font-weight: bold;
}

.club-card a:visited {
  color: lightblue;
}

.club-card a:hover {
  text-decoration: underline;
  text-decoration-color: #CC9544;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}