@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Jomolhari&family=Joti+One&family=Katibeh&family=Kavoon&family=Luckiest+Guy&family=Roboto+Condensed&family=Rubik:ital@1&display=swap');

@font-face {
  font-family: graffitiStyle;
  src: url('/public/Fonts/GlossySheenRegular-L35oy.ttf');
}

.no-route-handler {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid black;
  width: 70%;
  font-family: 'Luckiest Guy', cursive;
  gap: 50px;
  font-size: 40px;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 15px;
  padding-bottom: 100px;
}


.not-found-message {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-message p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  background-color: #F19CBB;
  color: black;
  padding: 15px;
  width: 150px;
  border: 4px solid #9966cc;
  border-radius: 50px;
  text-align: center;
}
.not-found-message p:hover {
  background-color: #9966cc;
  color: white;
  cursor: pointer;
}
.not-found-message h1 {
  font-family: graffitiStyle;
  margin: 0;
  padding-bottom: 0;
  color: transparent;
  font-size: 10vw;
  background-image: url('/public/assets/lofi.jpg');
  -webkit-background-clip: text;
  background-size: cover;
  background-repeat: repeat;
  background-clip: text;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.notFound {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notFound h3 {
  font-size: 90px;
  margin: 0;
}
.notFound h5 {
  margin: 0;
  font-family: graffitiStyle;
  color: #F19CBB;
}

.main-image {
  height: 400px;
  width: 400px;
  background-image: url('/public/assets/lofi.jpg');
  animation: animate 15s ease-in-out infinite;
  border-radius: 15px;
}

@keyframes animate {
  0%, 100% {
    background-position: left top;
  }
  25%{
    background-position: right bottom;
   }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }   
}