.nav {
  background-color: #3e2814;
  border-bottom: 5px solid #CEE6F3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 5;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 90px;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  height: 70px;
  align-items: center;
  margin-right: 3rem;
}

.nav ul li a {
  margin: 1vw;
}

nav a {
  font-family: 'breve';
  font-size: 3.5vw;
}


nav a:hover {
  color: lightblue;
  border-bottom: 2px solid #CEE6F3;
  transition: border-bottom .5s ease-out;
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

@media (min-width: 1200px) {
  nav a {
    font-size: 35px;
  }
}