.nav {
  background-color: #3A2613;
  border-bottom: 5px solid #CEE6F3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  height: 70px;
  align-items: center;
}

.nav ul li a {
  margin: 10px;
}