.shop-card-container {
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  padding: 15px;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  width: 100%;
  text-align: center;
  grid-column-gap: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
}