.shop-card-container {
  background-color:#38220f;
  border: 4px solid 	#dbc1ac;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  width: 100%;
  text-align: center;
  grid-column-gap: 10px;
}

.shop-card-container a h3 {
  font-family: 'breve';
  font-size: 35px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  padding: 5px;
  border-radius: 5px;
  background-color: maroon;
  color: white;
}