.content {
  margin: 0;
  position: relative;
  width: 100%;
  height: 80%;
  /* background: url(https://images.unsplash.com/photo-1497935586351-b67a49e012bf?auto=format&fit=crop&q=80&w=2071&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
}

.content::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(145deg, #0a0428, #0f214c, #0a0428);
  opacity: 0.25;
  z-index: -1;
}

/* .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

.slide.active .bg-img {
  opacity: 0.2;
}

.slide .left_slide {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: 0 0 0 rga(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  /* -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  mask: linear-gradient(#c1baba 0 0), linear-gradient(#cec9c9 0 0);
  mask-clip: text, padding-box;
  -webkit-mask-clip: text, padding-box;
  -webkit-mask-composite: xor;
  mask-composite: xor; */
  /* transform: translateX(-100%); */
  /* transition: 0.5s; */
}

.slide.active .left_slide {
  transform: translateX(0);
}

.slide .left_slide h1 {
  width: 100%;
  text-align: end;
  font-size: 8rem;
  margin-right: 1rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.slide .left_slide .info {
  /* padding: 50px 20px 10px; */
  padding: 4rem;
  position: absolute;
  bottom: 4rem;
}


.slide .left_slide .info p {
  line-height: 1.5;
  font-size: 1rem;
}

.slide .left_slide .info .btn {
  outline: none;
  border: 2px solid white;
  padding: 15px 25px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: white;
  font-weight: bolder;
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
}

.slide .left_slide .info .btn:hover {
  background-color: transparent;
  color: white;
}

.slide .left_slide .info .btn:focus {
  background-color: transparent;
  color: white;
}


.right_slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transform: translateX(100%);
  transition: 0.5s;
}

.right_slide {
  transform: translateX(0);
}

.right_slide .info {
  position: absolute;
  left: 1rem;
}

.right_slide .info h1 {
  font-size: 8rem;
  padding-bottom: 3rem;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #ddd, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0px 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 6px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.right_slide .info h2 {
  position: absolute;
  font-size: 2rem;
  transform: translate(50px, -60px);
}

.slide .right_slide .next_prev {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}
.slide .right_slide .next_prev #next,
.slide .right_slide .next_prev #prev {
  padding: 14px 18px;
  background-color: white;
  color: #777;
  border-radius: 18px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 5px;
  position: relative;
}

.slide .right_slide .next_prev #next:hover,
.slide .right_slide .next_prev #prev:hover {
  transform: scale(1.1);
}


.slide .right_slide .next_prev #next:focus,
.slide .right_slide .next_prev #prev:focus {
  transform: scale(1.1);
}