*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  display: flex;
  justify-content: center;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightblue;
  text-decoration: underline;
  text-underline-offset: 10px;
}

nav {
  position: fixed;
  z-index: 0;
  width: 85vw;
  max-width: 1400px;
  background-color: darkslategray;
  top: 0;
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

@media (min-width: 1200px) {
  main {
    display: flex;
    justify-content: center;
  }

  body {
    max-width: 1200px;
  }
}
