.new-club-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100vw;
  max-width: 1180px;
  margin: 120px 0 30px 0;
  z-index: 2;
  background-color: rgb(245, 245, 245, .3);
  border-radius: 20px;
  backdrop-filter: blur(18px);
}

.club-info {
  display: flex;
}

.location-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
  width: 50%;
  background-color: rgba(0, 0, 0, .3);
  border-top-left-radius: 20px;
  border-right: 2px solid rgba(0, 0, 0, .3);
}

.location-info>h5 {
  width: 80%;
  font-size: 20px;
  text-align: center;
}

.location-info>.name {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  background-color: rgba(47, 79, 79, .5);
  border-radius: 7px;
}

.location-info>.name>input {
  border-radius: 5px;
  color: #505050;
  outline: none;
  margin-right: 10px;
}

.location-info>.name>input:focus {
  border: 4px solid #0492c2;
}

.location-info>.name > textarea {
  height: 100px;
  font-size: 18px;
  width: 92%;
  margin-left: 15px;
  padding: 5px;
  border-radius: 5px;
  color: #505050;
  outline: none;
}

.club-focus {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  background-color: rgb(0, 0, 0, .3);
  color: white;
  border-top-right-radius: 20px;
}

.club-focus>h6 {
  font-size: 20px;
  font-weight: 800;
  width: 80%;
  text-align: center;
}

.club-focus>.category-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.category-container>label {
  font-size: 20px;
  font-weight: bold;
}

.category-container>input {
  width: 150px;
  height: 40px;
  text-align: center;
  border: none;
  border: 1px solid #0492c2;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  color: #505050;
}

.club-focus > .location-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  padding-right: 30px;
  background-color: rgba(120, 29, 66, .5);
  border-radius: 7px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.club-focus > .location-time > h2 {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.club-focus>.location-time>input {
  height: 40px;
  border-radius: 5px;
  color: #505050;
  outline: none;
}

.club-focus>div>input:focus {
  border: 4px solid #0492c2;
}

.club-focus>.location-time>select {
  width: 95%;
  height: 40px;
  border-radius: 5px;
  color: #505050;
  outline: none;
  margin-left: 15px;
}

#create-club {
  background-color: rgba(75, 101, 135, .7);
  color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, .8);
}

#create-club:hover {
  color: rgba(75, 101, 135, .7);
  background-color: white;
  cursor: pointer;
}

.shops-in-club {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0, .3);
  width: 100%;
  gap: 40px;
  padding: 20px;
  display: none;
  border-top: 2px solid rgba(0, 0, 0, .3);
}

.shops-in-club>p {
  font-size: 20px;
  width: 50%;
  text-align: center;
  font-weight: bold;
}

.shops-in-club>.shop-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 80%;
}

.shop-cards > .suggestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #c8c8c8;
  width: 350px;
  height: 290px;
  background-color: darkslategray;
  border: 4px solid #000000;
  border-radius: 7px;
}

.shops-in-club>.time-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 600px;
  border: 2px solid black;
  border-radius: 5px;
  gap: 20px;
  padding-right: 30px;
}

.shops-in-club>.time-slot>label {
  font-size: 16px;
  color: black;
}

.shops-in-club>.time-slot>input {
  height: 35px;
  color: #505050;
  border-radius: 5px;
}

.shops-in-club>.time-slot>button {
  height: 35px;
  width: 100px;
  font-size: 18px;
  background-color: #505050;
  color: white;
  border: none;
  border-radius: 5px;
}


.showNewShop {
  margin-top: 20px;
  display: none;
}

.button {
  text-decoration: none;
  opacity: 0.6;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 100px;
  background: linear-gradient(145deg, #1487ca, #093396);
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
  padding: 10px;
}

.button:hover {
  opacity: 1;
}

.shops-in-club .showShopForm {
  background-color: rgba(0, 0, 0, .2);
  padding: 10px;
  border-radius: 10px;
  color: lightblue;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
} 
.shops-in-club .showShopForm:hover {
  cursor: pointer;
  color: #CC9544;
}

#background-image {
  position: absolute;
  top: 0;
  height: 200vh;
  width: 100%;
  background-image: url(/assets/coffeeSteam.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
  overflow-x: hidden;
}

#img-cover {
  position: absolute;
  top: 0;
  height: 200vh;
  width: 100%;
  z-index: 1;
  background-color: black;
  opacity: .3;
}

.title {
  color: #CEE6F3;
  background-color: rgb(0, 0, 0, .6);
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #CEE6F3;
  margin: 0 0 20px 0;
  text-align: center;
  font-family: 'breve';
  font-size: 3rem;
}